{% extends 'base.html.twig' %}

{% block title %}Créer votre organisation - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ asset('js/user/employability/addOrganization/organizationSectorsOfActivitySelectTag.js') }}" defer></script>
    <script src="{{ asset('js/user/employability/addOrganization/registrationNumberDisplayingManager.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section>
        <h1>Créez votre espace employeur</h1>

        {{ form_start(add_organization_form) }}
            <div style="display: grid; grid-template-columns: 1fr; gap: 20px">
                <div>
                    {{ form_label(add_organization_form.town) }}<br >
                    {{ form_widget(add_organization_form.town) }}
                    {{ form_errors(add_organization_form.town) }}
                </div>

                <div>
                    {{ form_label(add_organization_form.organizationName) }}<br >
                    {{ form_widget(add_organization_form.organizationName) }}
                    {{ form_errors(add_organization_form.organizationName) }}
                </div>

                <div>
                    {{ form_label(add_organization_form.organizationPreferences) }}<br >
                    {{ form_widget(add_organization_form.organizationPreferences) }}
                    {{ form_errors(add_organization_form.organizationPreferences) }}
                </div>

                <div>
                    {{ form_label(add_organization_form.sectorOfActivity) }}<br >
                    {{ form_widget(add_organization_form.sectorOfActivity) }}
                    {{ form_errors(add_organization_form.sectorOfActivity) }}
                </div>

                <div>
                    {{ form_label(add_organization_form.registrationNumberChoice) }}<br >
                    {{ form_widget(add_organization_form.registrationNumberChoice) }}
                    {{ form_errors(add_organization_form.registrationNumberChoice) }}
                </div>

                <div id="registrationNumberInputBlock" style="display: none;">
                    {{ form_label(add_organization_form.organizationRegistrationNumber) }}<br >
                    {{ form_widget(add_organization_form.organizationRegistrationNumber) }}
                    {{ form_errors(add_organization_form.organizationRegistrationNumber) }}
                </div>

                <div>
                    <a href="{{ path('user_dashboard') }}">Annuler</a>
                    <button type="submit">Confirmé</button>
                </div>

            </div>
        {{ form_end(add_organization_form) }}
    </section>
{% endblock %}