{% extends 'base.html.twig' %}

{% block title %}Rensignez votre numéro de téléphone - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}

    <header>
        {% include('navbarWithoutUserDetails.html.twig') %}
    </header>

    <section>
        <h1>Renseignez votre numéro de téléphone</h1>
        <h2>Pour être accompagné au mieux dans vos besoins de recrutement d’alternants.</h2>

        {{ form_start(organization_phone_form) }}
            <div>
                <div>
                    {{ form_label(organization_phone_form.phone) }}<br>
                    {{ form_widget(organization_phone_form.phone) }}
                    {{ form_errors(organization_phone_form.phone) }}
                </div>

                <button type="submit">Envoyer</button>
            </div>
        {{ form_end(organization_phone_form) }}
    </section>
{% endblock %}