{% extends 'base.html.twig' %}

{% block title %}Administration - Supprimer un compte lié{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if an organization has been removed #}
    {% if app.flashes('org_account_removed_successfully') is defined %}
        {% for orgRemovedMsg in app.flashes('org_account_removed_successfully') %}
            <span id="hide-flashMsg">{{ orgRemovedMsg }}</span>
        {% endfor %}
    {% endif %}



    <div>
        {% include('adminNavbar.html.twig') %}
    </div>

    <h1>Demandes de suppression de compte organisation</h1>

    {% for request in all_removal_requests %}
        <a href="{{ path('organization_removal_request_details', {'id' : request.id}) }}">
            <h3>
                {{ request.applicantOrganization }}
            </h3>

            <p>
                <strong>Propriétaire : </strong> {{ request.applicantEmail }}
            </p>

            <p>
                <strong>Localité : </strong>{{ organization.town }}
            </p>

            <p>
                <strong>Abonnement : </strong> {{ organization.subscription }}
            </p>
        </a>

    {% else %}
        <div>
            <p>
                Aucune demande de suppression enregistrée pour le moment.
            </p>
        </div>
    {% endfor %}
{% endblock %}
