{% extends 'base.html.twig' %}

{% block title %}Expérience professionnelle - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    {# style à mettre dans le css #}
    <style>
        #professional_experiences_edit_startDate_day, #professional_experiences_edit_endDate_day {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/account/career/experiences/selectTagManagerForJobFieldsEdit.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ asset('js/user/account/career/experiences/wordCounterForExperiencesEdit.js') }}" defer></script>
    <script src="{{ asset('js/user/account/career/experiences/modalForRemoveExperience.js') }}" defer></script>
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
    <script src="{{ asset('js/user/account/career/experiences/experienceEditDateManager.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block body %}

    {# message if the CSRF token for this removing form is invalid #}
    {% if app.flashes('CSRF_error') is defined %}
        {% for CSRFerrorMsg in app.flashes('CSRF_error') %}
            <span id="hide-flashMsg">{{ CSRFerrorMsg }}</span>
        {% endfor %}
    {% endif %}


    <header>
        {% include('navbar.html.twig') %}
    </header>

    <section>
        <h1>Expérience professionnelle</h1>

        {{ form_start(experience_edit_form) }}
            <div style="display: grid; grid-template-columns: 1fr; gap: 20px">
                <div>
                    {{ form_label(experience_edit_form.jobTitle) }}<br>
                    {{ form_widget(experience_edit_form.jobTitle) }}<br>
                    {{ form_errors(experience_edit_form.jobTitle) }}
                </div>

                <div>
                    {{ form_label(experience_edit_form.jobField) }}<br>
                    {{ form_widget(experience_edit_form.jobField) }}<br>
                    {{ form_errors(experience_edit_form.jobField) }}
                </div>

                <div>
                    {{ form_label(experience_edit_form.town) }}<br>
                    {{ form_widget(experience_edit_form.town) }}<br >
                    {{ form_errors(experience_edit_form.town) }}
                </div>

                <div>
                    {{ form_label(experience_edit_form.enterpriseName) }}<br>
                    {{ form_widget(experience_edit_form.enterpriseName) }}<br>
                    {{ form_errors(experience_edit_form.enterpriseName) }}
                </div>

                <div>
                    {{ form_label(experience_edit_form.endDateCheckbox) }}<br>
                    {{ form_widget(experience_edit_form.endDateCheckbox) }}<br>
                    {{ form_errors(experience_edit_form.endDateCheckbox) }}
                </div>

                <div>
                    {{ form_label(experience_edit_form.startDate) }}<br>
                    {{ form_widget(experience_edit_form.startDate) }}
                    {{ form_errors(experience_edit_form.startDate) }}
                </div>

                <div class="end-date">
                    {{ form_label(experience_edit_form.endDate) }}<br>
                    {{ form_widget(experience_edit_form.endDate) }}
                    {{ form_errors(experience_edit_form.endDate) }}
                </div>

                <div>
                    {{ form_label(experience_edit_form.jobDescription) }}<br>
                    {{ form_widget(experience_edit_form.jobDescription) }}
                    {{ form_errors(experience_edit_form.jobDescription) }}

                    <p>
                        <span>
                            {{ form_help(experience_edit_form.jobDescription) }}
                        </span>

                        <span class="words-counter">

                        </span>
                    </p>
                </div>

                <button type="submit">Enregistrer</button>
            </div>
        {{ form_end(experience_edit_form) }}
    </section>


    <form id="experience-form-{{ current_experiences.id }}" method="post" action="{{ path('account_professional_experience_remove', { 'id': current_experiences.id }) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('account_professional_experience_remove_' ~ current_experiences.id) }}">
        <button type="button" class="btn-supprimer" data-id="{{ current_experiences.id }}">Supprimer</button>
    </form>
{% endblock %}