{% extends 'base.html.twig' %}

{% block title %}Expériences professionnelles - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if experiences has been changed #}
    {% if app.flashes('experiences_saved') is defined %}
        {% for experienceSavedMsg in app.flashes('experiences_saved') %}
            <span id="hide-flashMsg">{{ experienceSavedMsg }}</span>
        {% endfor %}
    {% endif %}


    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <p>
        <a href="{{ path('account') }}">Retour</a>
    </p>

    <section>
        <h1>Expériences professionnelles</h1>

        <div>
            {% if experiences is not null and experiences|length > 0 %}
                {% for experience in experiences %}
                    <a href="{{ path('account_professional_experience_edit', {'id' : experience.id}) }}">
                        <div>
                            <h3>{{ experience.jobTitle }}</h3>
                        </div>

                        <div>
                            {{ experience.enterpriseName }} | {{ experience.town }} | {{ experience.startDate|date('m/Y') }} - Aujourd'hui {# ici marquer la date genre 3ans quelques mois #}
                        </div>

                        <div>
                            {% if experience.jobDescription is not empty %}
                                {{ experience.jobDescription }}
                            {% else %}
                                <span>
                                    <em>Description de poste à compléter</em>
                                </span>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}

                <p>
                    Ajoutez d'autres expériences professionnelles, y compris stages, alternances, activités associatives
                </p>
            {% else %}
                <p>
                    Vous n’avez pas encore ajouté d’expérience professionnelle (stage, emploi, alternance, activités associatives)
                </p>
            {% endif %}
        </div>

        <a href="{{ path('account_professional_experience_manager') }}">Ajouter</a>
    </section>
{% endblock %}