{% extends 'base.html.twig' %}

{% block title %}Profil - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}


{% block body %}

    {# message if information about formation has been done #}
    {% if app.flashes('formation_information_saved') is defined %}
        {% for formationSavedMsg in app.flashes('formation_information_saved') %}
            <span id="hide-flashMsg">{{ formationSavedMsg }}</span>
        {% endfor %}
    {% endif %}


    {% if app.flashes('information_saved') is defined %}
        {% for informationSaved in app.flashes('information_saved') %}
            <span id="hide-flashMsg">{{ informationSaved }}</span>
        {% endfor %}
    {% endif %}





    <header>
        {% include('navbar.html.twig') %}
    </header>


    <section>
        <div>
            <h1>Votre profil vu par un employeur</h1>
        </div>

        <div>
            <p>
                <span>
                    {% if app.user.profilPic is not null %}
                        <img src="{{ asset('user/profile/avatar/' ~ app.user.profilPic) }}" alt="Emploi_Espoir_profil_pic" width="200"><br>
                    {% else %}
                        <span class="bi bi-person-circle" style="font-size: 3em;"></span>
                    {% endif %}
                </span>

                <a href="{{ path('user_profile_avatar_edit') }}">Modifier</a>
            </p>
        </div>


        <div>
            <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>

            <p>{{ app.user.email }}</p>
            {% if app.user.phone is not null %}
                <p>{{ app.user.phone }}</p>
            {% else %}
                <p>
                    <em>Information non fournie</em>
                </p>
            {% endif %}
        </div>


        <div>
            {# employement area #}
            <a href="{{ path('account_job_preference_search_area', {redirect : 'user_profile_view_as_recruiter'}) }}">
                {% if app.user.jobAndAlternation is not null and app.user.jobAndAlternation.employmentArea is not null %}
                    <span>
                        {{ app.user.jobAndAlternation.employmentArea }}
                    </span>
                {% else %}
                    <span>
                        <em>Information non fournie</em>
                    </span>
                {% endif %}
            </a>

        </div>


        <div>
            {# employment preferences #}
            <a href="{{ path('account_job_preferences_preference', {redirect : 'user_profile_view_as_recruiter'}) }}">
                <strong>Préférence relative au télétravail : </strong>
                <span>
                    {% if app.user.jobAndAlternation is not null %}
                        {% for jobPreferences in app.user.jobAndAlternation.employmentPreference %}
                            {{ jobPreferences }},
                        {% endfor %}
                    {% else  %}
                        <em>Information non fournie</em>
                    {% endif %}
                </span>
            </a>
        </div>

    </section>



    <section>
        <h1>Présentation</h1>

        <p>
            <a href="{{ path('account_presentation_about_me', {redirect : 'user_profile_view_as_recruiter'}) }}">
            <span>
                <strong>A propos de vous : </strong>
                {% if app.user.career is not null %}
                    {{ app.user.career.aboutYou }}
                {% endif %}
            </span>
            </a>
        </p>

        <p>
            <span>CV</span>
            {% if app.user.career is not null and app.user.career.cv is not empty %}

                {# here i retrieve files with this form : user/career/presentation/cv/cv.pdf #}
                {# with ...|split('/')|last, the file is display by her file name (cv.pdf) #}
                <a href="{{ asset(app.user.career.cv) }}">{{ app.user.career.cv|split('/')|last }}</a>
            {% else %}
                <a href="{{ path('account_presentation_cv', {redirect : 'user_profile_view_as_recruiter'}) }}">
                    <em>Information non fournie</em>
                </a>

            {% endif %}
        </p>
    </section>


    <section>
        <h1>Compétences</h1>

        <div>
            <a href="{{ path('account_skills_manager', {redirect : 'user_profile_view_as_recruiter'}) }}">
                <span>Compétence principale : </span>
                {% if app.user.career is not null and app.user.career.skills is not null %}
                    {% for careerSkills in app.user.career.skills %}
                        {{ careerSkills }},
                    {% endfor %}
                {% else %}
                    <em>Informations non fournie</em>
                {% endif %}
            </a>
        </div>
    </section>



    <section>
        <h1>Liens externes</h1>
        <div>
            <p>
                {% if app.user.career is not null and app.user.career.linkedInUrl is not null %}

                    <span>LinkedIn : <a href="{{ app.user.career.linkedInUrl }}" target="_blank">{{ app.user.career.linkedInUrl }}</a></span>

                {% endif %}
            </p>


            <p>
                {% if app.user.career is not null and app.user.career.githubUrl is not null %}
                    <span>Github : <a href="{{ app.user.career.githubUrl }}" target="_blank">{{ app.user.career.githubUrl }}</a></span>
                {% endif %}
            </p>


            <p>

                {% if app.user.career is not null and app.user.career.websiteUrl is not null %}
                    <span>Autre (site web, portfolio de projets) : <a href="{{ app.user.career.websiteUrl }}" target="_blank">{{ app.user.career.websiteUrl }}</a></span>
                {% endif %}

            </p>
        </div>

        <p>
            <a href="{{ path('account_external_links_link', {redirect : 'user_profile_view_as_recruiter'}) }}">Ajouter</a>
        </p>
    </section>



    <section>
        <h1>Expériences professionnelles</h1>

        {% if app.user.experiences is not null %}
            {% for experience in app.user.experiences %}
                <a href="{{ path('account_professional_experience_edit', {'id' : experience.id, redirect: 'user_profile_view_as_recruiter'}) }}">
                    <div>
                        <h3>{{ experience.jobTitle }}</h3>
                    </div>

                    <div>
                        {{ experience.enterpriseName }} | {{ experience.town }} | {{ experience.startDate|date('m/Y') }} - Aujourd'hui {# ici marquer la date genre 3ans quelques mois #}
                    </div>
                </a>
            {% endfor %}
        {% endif %}

        <p>
            <a href="{{ path('account_professional_experience_manager', {redirect : 'user_profile_view_as_recruiter'}) }}">Ajouter</a>
        </p>
    </section>



    <section>
        <h1>Formation</h1>

        {% if app.user.formations is not empty %}
            {% for formation in app.user.formations %}
                <a href="#">
                    <div>
                        <h3>{{ formation.diplomaName }}</h3>
                    </div>

                    <div>
                        {{ formation.universityName }} | {{ formation.diplomaTown }} | {{ formation.diplomaLevel }} | {{ formation.diplomaMonth.value }}/{{ formation.diplomaYear }}
                    </div>
                </a>

            {% endfor %}
        {% else %}
            <p>
                Information non fournie
            </p>
        {% endif %}

        <p>
            <a href="{{ path('account_formation_add', {redirect : 'user_profile_view_as_recruiter'}) }}">
                Ajouter
            </a>
        </p>
    </section>


    <section>
        <h1>Niveau de langues</h1>

        {% if app.user.languages is not null and app.user.languages|length > 0 %}

            {% for language in app.user.languages %}
                <div>
                    <a href="#">
                        <span>{{ language.language }}</span> | <span>{{ language.languageLevel }}</span>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>
                Information non fournie
            </p>
        {% endif %}

        <p>
            <a href="{{ path('account_languages_language_level', {redirect : 'user_profile_view_as_recruiter'}) }}">Ajouter</a>
        </p>
    </section>
    
{% endblock %}