{% extends 'base.html.twig' %}

{% block title %}Profil - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{#
{% block javascripts %}
<script src="{{ asset('js/user/profilViewAsRecruiter/redirectToModal.js') }}" defer></script>
{% endblock %}
#}


{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>


    <section>
        <div>
            <h1>Votre profil vu par un employeur</h1>
        </div>

        <div>
            <p>
                <span>
                    {% if app.user.profilPic is not null %}
                        <img src="{{ asset('user/profile/avatar/' ~ app.user.profilPic) }}" alt="Emploi_Espoir_profil_pic" width="200"><br>
                    {% else %}
                        <span class="bi bi-person-circle" style="font-size: 3em;"></span>
                    {% endif %}
                </span>

                <a href="{{ path('user_profile_avatar_edit') }}">Modifier</a>
            </p>
        </div>


        <div>
            <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>

            <p>{{ app.user.email }}</p>
            {% if app.user.phone is not null %}
                <p>{{ app.user.phone }}</p>
            {% else %}
                <p>
                    <em>Information non fournie</em>
                </p>
            {% endif %}
        </div>


        <div>
            {# employement area #}
            <a href="{{ path('account_job_preference_search_area') }}">
                {% if app.user.jobAndAlternation is not null and app.user.jobAndAlternation.employmentArea is not null %}
                    <span>
                        {{ app.user.jobAndAlternation.employmentArea }}
                    </span>
                {% else %}
                    <span>
                        <em>Information non fournie</em>
                    </span>
                {% endif %}
            </a>

        </div>


        <div>
            {# employment preferences #}
            <a href="{{ path('account_job_preferences_preference') }}">
                <strong>Préférence relative au télétravail : </strong>
                <span>
                    {% if app.user.jobAndAlternation is not null %}
                        {% for jobPreferences in app.user.jobAndAlternation.employmentPreference %}
                            {{ jobPreferences }},
                        {% endfor %}
                    {% else  %}
                        <em>Information non fournie</em>
                    {% endif %}
                </span>
            </a>
        </div>

    </section>



    <section>
        <h1>Présentation</h1>

        <p>
            <a href="{{ path('account_presentation_about_me') }}">
            <span>
                <strong>A propos de vous : </strong>
                {% if app.user.career is not null %}
                    {{ app.user.career.aboutYou }}
                {% endif %}
            </span>
            </a>
        </p>

        <p>
            <span>CV</span>
            {% if app.user.career is not null and app.user.career.cv is not empty %}
                <a href="{{ asset(app.user.career.cv) }}">Voir le cv</a>
            {% else %}
                <a href="{{ path('account_presentation_cv') }}">
                    <em>Information non fournie</em>
                </a>

            {% endif %}
        </p>
    </section>


    <section>
        <h1>Compétences</h1>

        <div>
            <a href="{{ path('account_skills_manager') }}">
                <span>Compétence principale : </span>
                {% if app.user.career is not null and app.user.career.skills is not null %}
                    {% for careerSkills in app.user.career.skills %}
                        {{ careerSkills }},
                    {% endfor %}
                {% else %}
                    <em>Informations non fournie</em>
                {% endif %}
            </a>
        </div>
    </section>



    <section>
        <h1>Liens externes</h1>
        <div>
            <p>
                {% if app.user.career is not null and app.user.career.linkedInUrl is not null %}
                    <a href="#">
                        <span>LinkedIn : {{ app.user.career.linkedInUrl }}</span>
                    </a>
                {% endif %}
            </p>


            <p>
                {% if app.user.career is not null and app.user.career.githubUrl is not null %}
                    <a href="#">
                        <span>Github : {{ app.user.career.githubUrl }}</span>
                    </a>
                {% endif %}
            </p>


            <p>

                {% if app.user.career is not null and app.user.career.websiteUrl is not null %}
                    <a href="#">
                        <span>Autre (site web, portfolio de projets) : {{ app.user.career.websiteUrl }}</span>
                    </a>
                {% endif %}

            </p>
        </div>

        <p>
            <a href="{{ path('account_external_links_link') }}">Ajouter</a>
        </p>
    </section>



    <section>
        <h1>Expériences professionnelles</h1>

        {% if app.user.experiences is not null %}
            {% for experience in app.user.experiences %}
                <a href="#">
                    <div>
                        <h3>{{ experience.jobTitle }}</h3>
                    </div>

                    <div>
                        {{ experience.enterpriseName }} | {{ experience.town }} | {{ experience.startDate|date('m/Y') }} - Aujourd'hui {# ici marquer la date genre 3ans quelques mois #}
                    </div>
                </a>
            {% endfor %}
        {% endif %}

        <p>
            <a href="{{ path('account_professional_experience_manager') }}">Ajouter</a>
        </p>
    </section>



    <section>
        <h1>Formation</h1>

        {% if app.user.formations is not empty %}
            {% for formation in app.user.formations %}
                <a href="#">
                    <div>
                        <h3>{{ formation.diplomaName }}</h3>
                    </div>

                    <div>
                        {{ formation.universityName }} | {{ formation.diplomaTown }} | {{ formation.diplomaLevel }} | {{ formation.diplomaMonth.value }}/{{ formation.diplomaYear }}
                    </div>
                </a>

            {% endfor %}
        {% else %}
            <p>
                Information non fournie
            </p>
        {% endif %}

        <p>
            <a href="{{ path('account_formation_add') }}">
                Ajouter
            </a>
        </p>
    </section>


    <section>
        <h1>Niveau de langues</h1>

        {% if app.user.languages is not null and app.user.languages|length > 0 %}

            {% for language in app.user.languages %}
                <div>
                    <a href="#">
                        <span>{{ language.language }}</span> | <span>{{ language.languageLevel }}</span>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>
                Information non fournie
            </p>
        {% endif %}

        <p>
            <a href="{{ path('account_languages_language_level') }}">Ajouter</a>
        </p>
    </section>
    
{% endblock %}