{% extends 'base.html.twig' %}

{% block title %}Identité - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}
    <header>
        {% include('navbar.html.twig') %}
    </header>

    <a href="{{ path('account_identity') }}">
        <i class="bi bi-arrow-left"></i>
    </a>

    <div>
        <h1>Identité</h1>

        {{ form_start(gender_edit_form) }}
            <div>
                {{ form_label(gender_edit_form.gender) }}<br >
                {{ form_widget(gender_edit_form.gender) }}
                {{ form_errors(gender_edit_form.gender) }}
            </div>

            <button type="submit">Enregistrer</button>
        {{ form_end(gender_edit_form) }}
    </div>
{% endblock %}