{% extends 'base.html.twig' %}

{% block title %}Niveau de langues - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/account/career/language/languageSelectTagManager.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block body %}
    <section>
        <h1>Niveau de langues</h1>

        {{ form_start(language_form) }}

            <div style="display: grid; grid-template-columns: 1fr; gap: 20px">
                <div>
                    {{ form_label(language_form.language) }}<br >
                    {{ form_widget(language_form.language) }}
                </div>

                <div class="language-level-block" style="display: none">
                    {{ form_label(language_form.languageLevel) }}<br >
                    {{ form_widget(language_form.languageLevel) }}
                </div>

                <button type="submit">Enregistrer</button>
            </div>

        {{ form_end(language_form) }}
    </section>
{% endblock %}