{% extends 'base.html.twig' %}

{% block title %}Niveau de langue - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ asset('js/user/account/career/language/modalForRemovedLanguage.js') }}" defer></script>
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}

    {# message if the CSRF token for this removing form is invalid #}
    {% if app.flashes('CSRF_error') is defined %}
        {% for CSRFerrorMsg in app.flashes('CSRF_error') %}
            <span id="hide-flashMsg">{{ CSRFerrorMsg }}</span>
        {% endfor %}
    {% endif %}


    <header>
        {% include('navbar.html.twig') %}
    </header>

    <p>
        <a href="{{ path('account_languages') }}">Retour</a>
    </p>

    <section>
        <h1>Niveau de langue</h1>

        <div>
            <h3>Niveau en {{ current_language.language }}</h3>

            {{ form_start(language_edit_form) }}
                <div>
                    {{ form_widget(language_edit_form.languageLevel) }}
                    {{ form_errors(language_edit_form.languageLevel) }}
                </div>

                <button type="submit">Enregistrer</button>
            {{ form_end(language_edit_form) }}


            <form id="language-deletion-form-{{ current_language.id }}" action="{{ path('account_remove_language', { 'id': current_language.id }) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('account_remove_language_' ~ current_language.id) }}">
                <button type="button" class="remove-btn" data-id="{{ current_language.id }}">Supprimer</button>
            </form>
        </div>
    </section>
{% endblock %}