{% extends 'base.html.twig' %}

{% block title %}Niveau de langue - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if a language has been added #}
    {% if app.flashes('languageSaved') is defined %}
        {% for languageSavedMsg in app.flashes('languageSaved') %}
            <span id="hide-flashMsg">{{ languageSavedMsg }}</span>
        {% endfor %}
    {% endif %}

    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <p>
        <a href="{{ path('account') }}">Retour</a>
    </p>

    <h1>Niveau de langues</h1>

    {% if languages is not null and languages|length > 0 %}

        {% for language in languages %}
            <a href="#">
                <span>{{ language.language }}</span> <span>{{ language.languageLevel }}</span>
            </a>
        {% endfor %}

        <p>
            Ajouter d'autres languages
        </p>
    {% else %}
        <p>
            Vous n'avez pas encore ajouté de langues
        </p>
    {% endif %}

    <div>
        <p>
            <a href="{{ path('account_languages_language_level') }}">Ajouter</a>
        </p>
    </div>
{% endblock %}