{% extends 'base.html.twig' %}

{% block title %}Formations - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/account/career/formation/diplomaLevelManager.js') }}" defer></script>
    <script src="{{ asset('js/user/account/career/formation/diplomaSpecialityDisabledManager.js') }}" defer></script>
    <script src="{{ asset('js/user/account/career/formation/inputFileManager.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block body %}

    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <p>
        <a href="{{ path('account_formations') }}">
            <i class="bi bi-arrow-left"></i>
        </a>
    </p>

    <h1>Formations</h1>

    <div>
        {{ form_start(formation_form, {'attr' : {'novalidate' : 'novalidate'}}) }}
            <div style="display: grid; grid-template-columns: 1fr; gap: 20px">
                <div>
                    {{ form_label(formation_form.diplomaLevel) }}<br >
                    {{ form_widget(formation_form.diplomaLevel) }}
                    {{ form_errors(formation_form.diplomaLevel) }}
                </div>

                <div id="diploma-details" style="display: none">

                    <div style="display: grid; grid-template-columns: 1fr; gap: 20px">

                        <div>
                            {{ form_label(formation_form.diplomaName) }}<br >
                            {{ form_widget(formation_form.diplomaName) }}
                            {{ form_errors(formation_form.diplomaName) }}
                        </div>

                        <div>
                            {{ form_label(formation_form.diplomaSpeciality) }}<br >
                            {{ form_widget(formation_form.diplomaSpeciality) }}
                            {{ form_errors(formation_form.diplomaSpeciality) }}
                        </div>

                        <div>
                            {{ form_label(formation_form.universityName) }}<br >
                            {{ form_widget(formation_form.universityName) }}
                            {{ form_errors(formation_form.universityName) }}
                        </div>

                        <div>
                            {{ form_label(formation_form.diplomaTown) }}<br >
                            {{ form_widget(formation_form.diplomaTown) }}
                            {{ form_errors(formation_form.diplomaTown) }}
                        </div>

                        <div>
                            {{ form_label(formation_form.diplomaMonth) }}<br >
                            {{ form_widget(formation_form.diplomaMonth) }}
                            {{ form_errors(formation_form.diplomaMonth) }}
                        </div>

                        <div>
                            {{ form_label(formation_form.diplomaYear) }}<br >
                            {{ form_widget(formation_form.diplomaYear) }}
                            {{ form_errors(formation_form.diplomaYear) }}
                        </div>

                        {# input of this block has been hide #}
                        <div>
                            {{ form_label(formation_form.diploma) }}<br >
                            {{ form_widget(formation_form.diploma) }}
                            {{ form_errors(formation_form.diploma) }}
                        </div>

                        {# input file of this form will be changed by this block #}
                        <div>
                            <div class="inputForFile">
                                <span>Sélectionnez vos fichiers ici</span>
                            </div>

                            {{ form_help(formation_form.diploma) }}

                            <div class="files-placeholder">

                            </div>
                        </div>

                    </div>
                </div>

                <button type="submit">Enregistrer</button>

            </div>
        {{ form_end(formation_form) }}
    </div>
{% endblock %}






























{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        input[type="file"] {
            display: none;
        }

        .inputForFile {
            border: 1px dashed blue;
            cursor: pointer;
        }
    </style>
{% endblock %}