{% extends 'base.html.twig' %}

{# todo: modifier le title si possible pour le référencement #}
{% block title %}Personnaliser votre expérience - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/userPanel/validateUserChoices.js') }}" defer></script>
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if a user has been registered #}
    {% if app.flashes('registration_successfully') is defined %}
        {% for welcomeMsg in app.flashes('registration_successfully') %}
            <span id="hide-flashMsg">{{ welcomeMsg|raw }}</span>
        {% endfor %}
    {% endif %}


    <section>

        <header>
            {% include('navbarWithoutUserDetails.html.twig') %}
        </header>

        {{ form_start(mainObjectivesForm) }}
            <div style="display: grid; grid-template-columns: 1fr; gap: 20px;">
                <h1>Quels sont vos objectifs ?</h1>

                {{ form_widget(mainObjectivesForm.mainObjectives) }}

            </div>

            <div>
                <h1>Quels sont les domaines qui vous intéressent ?</h1>

                {{ form_widget(mainObjectivesForm.fields) }}
            </div>

            <div>
                <button type="submit" disabled>Valider</button>
            </div>


        {{ form_end(mainObjectivesForm) }}


    </section>
{% endblock %}








{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        /* Masque complètement la checkbox native */
        input[type="checkbox"] {
            appearance: none; /* Supprime l'apparence par défaut */
            background-color: transparent; /* Fond transparent */
            border: none; /* Supprime le contour */
            outline: none; /* Supprime les bordures lors du focus */
        }


        /* Ajoute une personnalisation (facultatif) */
        input[type="checkbox"]:checked {
            content: '✔'; /* Exemple : coche personnalisée */
            color: green;
        }

        label {
            border: 1px solid grey;
            cursor: pointer;
        }

        .selected-label {
            border: 2px solid blue;
            border-radius: 5px;
            padding: 2px 5px;
        }
    </style>
{% endblock %}