{% extends 'base.html.twig' %}

{# todo: modifier le title si possible pour le référencement #}
{% block title %}Personnaliser votre expérience - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/userPanel/validateUserChoices.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section>



        {{ form_start(mainObjectivesForm) }}
            <div style="display: grid; grid-template-columns: 1fr; gap: 20px;">
                <h1>Quels sont vos objectifs ?</h1>

                {{ form_widget(mainObjectivesForm.mainObjectives) }}

            </div>

            <div>
                <h1>Quels sont les domaines qui vous intéressent ?</h1>

                {{ form_widget(mainObjectivesForm.fields) }}
            </div>

            <div>
                <button type="submit" disabled>Valider</button>
            </div>


        {{ form_end(mainObjectivesForm) }}


    </section>
{% endblock %}








{% block stylesheets %}
    <style>
        /* Masque complètement la checkbox native */
        input[type="checkbox"] {
            appearance: none; /* Supprime l'apparence par défaut */
            background-color: transparent; /* Fond transparent */
            border: none; /* Supprime le contour */
            outline: none; /* Supprime les bordures lors du focus */
        }


        /* Ajoute une personnalisation (facultatif) */
        input[type="checkbox"]:checked {
            content: '✔'; /* Exemple : coche personnalisée */
            color: green;
        }

        label {
            border: 1px solid grey;
            cursor: pointer;
        }

        .selected-label {
            border: 2px solid blue;
            border-radius: 5px;
            padding: 2px 5px;
        }
    </style>
{% endblock %}