{% extends 'base.html.twig' %}

{% block title %}Situation et objectifs professionnels - Emploi Espoir{% endblock%}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}

    {% if app.flashes('information_saved') is defined %}
        {% for informationSaved in app.flashes('information_saved') %}
            <span id="hide-flashMsg">{{ informationSaved }}</span>
        {% endfor %}
    {% endif %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <a href="{{ path('account') }}">
        <i class="bi bi-arrow-left"></i>
    </a>

    <h1>Situation et objectifs professionnels</h1>

    <div>
        <a href="{{ path('account_situation_main_objectives_edit') }}">
            <strong>Objectifs principaux</strong>
            <span>
                {% for objective in user.mainObjectives %}
                    {{ objective }},
                {% else %}
                    <em>Informations non fournie</em>
                {% endfor %}
            </span>
        </a>

        <a href="{{ path('account_situation_current_professional_situation_edit') }}">
            <strong>Situation professionnelle actuelle : </strong>
            <span>
                {% if user.currentProfessionalSituation is not null %}
                    {{ user.currentProfessionalSituation }}
                {% else  %}
                    <em>Information non fournie</em>
                {% endif %}
            </span>
        </a>
    </div>
{% endblock %}























{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        a {
            display: block;
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}