{% extends 'base.html.twig' %}

{% block title %}Situation et objectifs professionnels - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <a href="{{ path('account_situation') }}">
        <i class="bi bi-arrow-left"></i>
    </a>

    <h1>Situation et objectifs professionnels</h1>

    {{ form_start(main_objectives_form) }}
        <div>
            {{ form_label(main_objectives_form.mainObjectives) }}<br >
            {{ form_widget(main_objectives_form.mainObjectives) }}
            {{ form_errors(main_objectives_form.mainObjectives) }}
        </div>

        <button type="submit">Enregistré</button>
    {{ form_end(main_objectives_form) }}
{% endblock %}