{% extends 'base.html.twig' %}

{# todo: revoir le title ici pour le référencement #}
{% block title %}Emploi Espoir{% endblock %}

{% block body %}
    <section>
        <h1>
            {{ user.firstName }} {{ user.lastName }}<br>
            <a href="{{ path('user_profile_edit_avatar') }}">Paramètres</a>
        </h1>

        <div>
            <h2>Infos personnelles</h2>

            <p>
                <a href="{{ path('account_identity') }}">Identité</a> <br >
                <a href="{{ path('account_address_contact') }}">Adresse et contact</a> <br >
                <a href="{{ path('account_situation') }}">Situation et objectifs personnels</a> <br >
            </p>
        </div>

        <div>
            <h2>Préférences</h2>

            <p>
                <a href="{{ path('account_alternation_preferences') }}">Alternance</a><br>
                <a href="{{ path('account_job_preference') }}">Emploi</a>
            </p>
        </div>

        <div>
            <h2>Carrière</h2>

            <p>
                <a href="{{ path('account_presentation') }}">Présentation</a><br >
                <a href="{{ path('account_skills') }}">Compétence</a><br >
                <a href="{{ path('account_external_link') }}">Liens externes</a><br >
                <a href="{{ path('account_professional_experience') }}">Expériences professionnelles</a><br >
                <a href="{{ path('account_formations') }}">Formations</a><br >
                <a href="{{ path('account_languages') }}">Niveau de langues</a>
            </p>
        </div>
    </section>

{% endblock %}