{% extends 'base.html.twig' %}

{% block title %}Liens externes - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if a link has been added or modify #}
    {% if app.flashes('link_added_successfully') is defined %}
        {% for linkSavedMsg in app.flashes('link_added_successfully') %}
            <span id="hide-flashMsg">{{ linkSavedMsg }}</span>
        {% endfor %}
    {% endif %}

    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <p>
        <a href="{{ path('account') }}">Retour</a>
    </p>

    <section>
        <h1>Liens externes </h1>

        <div>
            {% if externalLinks is not null and (externalLinks.linkedInUrl is not null or externalLinks.githubUrl is not null or externalLinks.websiteUrl is not null) %}

                <div>
                    {% if externalLinks.linkedInUrl is not null %}
                        <a href="{{ path('account_external_links_linked_in_edit') }}">
                            <span>LinkedIn</span> <span>{{ externalLinks.linkedInUrl }}</span>
                        </a>
                    {% endif %}
                </div>

                <div>
                    {% if externalLinks.githubUrl is not null %}
                        <a href="{{ path('account_external_links_github_edit') }}">
                            <span>Github</span> <span>{{ externalLinks.githubUrl }}</span>
                        </a>

                    {% endif %}
                </div>

                <div>
                    {% if externalLinks.websiteUrl is not null %}
                        <a href="{{ path('account_external_links_website_url_edit') }}">
                            <span>Autre (site web, portfolio de projet)</span> <span>{{ externalLinks.websiteUrl }}</span>
                        </a>

                    {% endif %}
                </div>

            {% else %}
                <p>
                    Vous n'avez pas encore ajouté de lien externe (LinkedIn, sites web, projets...)
                </p>
            {% endif %}


        </div>

        <p>
            <a href="{{ path('account_external_links_link') }}">Ajouter</a>
        </p>
    </section>
{% endblock %}