{% extends 'base.html.twig' %}

{% block title %}Liens externes - Emploi Espoir{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/account/career/externalLinks/fieldsLinksManager.js') }}" defer></script>
{% endblock %}

{% block body %}

    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <h1>Liens externes</h1>

    {{ form_start(external_link_form) }}
        <div style="display: grid; grid-template-columns: 1fr; gap: 20px">
            <div>
                {{ form_label(external_link_form.linkType) }}<br >
                {{ form_widget(external_link_form.linkType) }}
                {{ form_errors(external_link_form.linkType) }}
            </div>

            <div style="display: none;" id="linkedIn-block">
                {{ form_label(external_link_form.linkedInUrl) }}<br >
                {{ form_widget(external_link_form.linkedInUrl) }}
                {{ form_errors(external_link_form.linkedInUrl) }}<br>
                <span class="linkedFormat-error" style="color: red; display: none;">Le lien de votre profil LinkedIn doit ressembler à ça : https://www.linkedin.com/in/votrenom</span>
            </div>

            <div style="display: none;" id="github-block">
                {{ form_label(external_link_form.githubUrl) }}<br >
                {{ form_widget(external_link_form.githubUrl) }}
                {{ form_errors(external_link_form.githubUrl) }}<br >
                <span class="githubFormat-error" style="color: red; display: none;">Le lien de votre github doit ressembler à ça : https://github.com/username</span>

            </div>

            <div style="display: none;" id="url-block">
                {{ form_label(external_link_form.websiteUrl) }}<br >
                {{ form_widget(external_link_form.websiteUrl) }}
                {{ form_errors(external_link_form.websiteUrl) }}<br >
                <span class="urlFormat-error" style="color: red; display: none;">Vérifier le lien. Il doit ressembler à ça : https://www.url.com</span>

            </div>

            <button type="submit">Enregistrer</button>
        </div>
    {{ form_end(external_link_form) }}
{% endblock %}