{% extends 'base.html.twig' %}

{% block title %}Postuler à une offre | Emploi Espoir {% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/user/employability/organizationManager/inputFileManagerApplyForAJob.js') }}" defer></script>
    <script src="{{ asset('js/user/employability/organizationManager/profilViewByRecruiterManager.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <h1>Postuler pour l'offre <em>{{ job_offer.jobTitle }}</em></h1>

    <h3>
        <a href="#" id="open-modal">Voir mon profil en tant qu'entreprise</a>
    </h3>

    {{ form_start(apply_job_offer_form, {'attr' : {'novalidate' : 'novalidate'}}) }}
        <div>
            <div>
                {{ form_label(apply_job_offer_form.lastName) }}<br>
                {{ form_widget(apply_job_offer_form.lastName) }}
                {{ form_errors(apply_job_offer_form.lastName) }}
            </div>

            <div>
                {{ form_label(apply_job_offer_form.firstName) }}<br>
                {{ form_widget(apply_job_offer_form.firstName) }}
                {{ form_errors(apply_job_offer_form.firstName) }}
            </div>

            <div>
                {{ form_label(apply_job_offer_form.email) }}<br>
                {{ form_widget(apply_job_offer_form.email) }}
                {{ form_errors(apply_job_offer_form.email) }}
            </div>

            <div>
                {{ form_label(apply_job_offer_form.phone) }}<br>
                {{ form_widget(apply_job_offer_form.phone) }}
                {{ form_errors(apply_job_offer_form.phone) }}
            </div>

            <div>
                {{ form_label(apply_job_offer_form.docsToProvide) }}
                (<span>
                    {% for doc in job_offer.docsToProvide %}
                        {{ doc }},
                    {% endfor %}
                </span>)
                <br>
                {{ form_widget(apply_job_offer_form.docsToProvide) }}
                {{ form_errors(apply_job_offer_form.docsToProvide) }}
            </div>

            <div>
                <div class="inputForFile">
                    <span>Sélectionnez vos fichiers ici au format .pdf</span>
                </div>

                <div class="files-placeholder">

                </div>
            </div>

            <button type="submit">Postuler</button>
        </div>
    {{ form_end(apply_job_offer_form) }}




    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            {# profile pic block #}
            <section>
                <p>
                    <span>
                        {% if app.user.profilPic is not null %}
                            <img src="{{ asset('user/profile/avatar/' ~ app.user.profilPic) }}" alt="Emploi_Espoir_profil_pic" width="200"><br>
                        {% else %}
                            <span class="bi bi-person-circle" style="font-size: 3em;"></span>
                        {% endif %}
                    </span>

                    {# <a href="{{ path('user_profile_avatar_edit') }}">Modifier</a> #}
                </p>
            </section>


            {# user info block #}
            <section>
                <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>

                <p>{{ app.user.email }}</p>
                {% if app.user.phone is not null %}
                    <p>{{ app.user.phone }}</p>
                {% else %}
                    <p>
                        <em>Information non fournie</em>
                    </p>
                {% endif %}
            </section>


            {# employement area block #}
            <section>
                <p>
                    {% if app.user.jobAndAlternation is not null and app.user.jobAndAlternation.employmentArea is not null %}
                        <span>{{ app.user.jobAndAlternation.employmentArea }}</span>
                    {% else %}
                        <span>
                            <em>Informations non fournie</em>
                        </span>
                    {% endif %}
                </p>
            </section>


            {# employment preferences block #}
            <section>
                <p>
                    <strong>Préférence relative au télétravail : </strong>
                    <span>
                        {% if app.user.jobAndAlternation is not null %}
                            {% for jobPreferences in app.user.jobAndAlternation.employmentPreference %}
                                {{ jobPreferences }},
                            {% endfor %}
                        {% else  %}
                            <em>Information non fournie</em>
                        {% endif %}
                    </span>
                </p>
            </section>


            {# about user block #}
            <section>
                <h1>Présentation</h1>

                <p>
                    <span>
                        <strong>A propos de vous : </strong>
                        {% if app.user.career is not null %}
                            {{ app.user.career.aboutYou }}
                        {% endif %}
                    </span>
                </p>

                <p>
                    <span>CV : </span>
                    {% if app.user.career is not null and app.user.career.cv is not empty %}
                        <a href="{{ asset(app.user.career.cv) }}">Voir le cv</a>
                    {% else %}
                        <span>
                            <em>Information non fournie</em>
                        </span>
                    {% endif %}
                </p>
            </section>


            <section>
                <h1>Compétences</h1>

                <div>
                    <p>
                        {% if app.user.career is not null and app.user.career.skills is not null %}
                            {% for careerSkills in app.user.career.skills %}
                                Compétence principale : {{ careerSkills }},
                            {% endfor %}
                        {% else %}
                            <em>Informations non fournie</em>
                        {% endif %}
                    </p>
                </div>
            </section>



            <section>
                <h1>Liens externes</h1>
                <div>
                    <p>
                        {% if app.user.career is not null and app.user.career.linkedInUrl is not null %}
                            <span>
                                <span>LinkedIn : {{ app.user.career.linkedInUrl }}</span>
                            </span>
                        {% endif %}
                    </p>


                    <p>
                        {% if app.user.career is not null and app.user.career.githubUrl is not null %}
                            <span>
                                <span>Github : {{ app.user.career.githubUrl }}</span>
                            </span>
                        {% endif %}
                    </p>


                    <p>

                        {% if app.user.career is not null and app.user.career.websiteUrl is not null %}
                            <span>
                                <span>Autre (site web, portfolio de projets) : {{ app.user.career.websiteUrl }}</span>
                            </span>
                        {% endif %}

                    </p>
                </div>

            </section>



            <section>
                <h1>Expériences professionnelles</h1>

                {% if app.user.experiences is not null and app.user.experiences|length > 0 %}

                    {% for experience in app.user.experiences %}
                        <div>
                            <h3>{{ experience.jobTitle }}</h3>
                        </div>

                        <div>
                            {{ experience.enterpriseName }} | {{ experience.town }} | {{ experience.startDate|date('m/Y') }} - Aujourd'hui {# ici marquer la date genre 3ans quelques mois #}
                        </div>
                    {% endfor %}

                {% else %}
                    <p>
                        <em>Information non fournie</em>
                    </p>
                {% endif %}
            </section>


            <section>
                <h1>Formation</h1>

                {% if app.user.formations is not empty %}

                    {% for formation in app.user.formations %}

                        <div>
                            <h3>{{ formation.diplomaName }}</h3>
                        </div>

                        <div>
                            {{ formation.universityName }} | {{ formation.diplomaTown }} | {{ formation.diplomaLevel }} | {{ formation.diplomaMonth.value }}/{{ formation.diplomaYear }}
                        </div>

                    {% endfor %}

                {% else %}
                    <p>
                        <em>Information non fournie</em>
                    </p>
                {% endif %}
            </section>


            <section>
                <h1>Niveau de langues</h1>

                {% if app.user.languages is not null and app.user.languages|length > 0 %}

                    {% for language in app.user.languages %}
                        <div>
                            <p>
                                <span>{{ language.language }}</span> | <span>{{ language.languageLevel }}</span>
                            </p>
                        </div>
                    {% endfor %}

                {% else %}
                    <p>
                        <em>Information non fournie</em>
                    </p>
                {% endif %}
            </section>


            <p>
                <a href="{{ path('user_profile_view_as_recruiter') }}">Modifier mes informations</a>
            </p>

        </div>
    </div>

{% endblock %}

































{% block stylesheets %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">



    <style>
        input[type="file"] {
            display: none;
        }

        .inputForFile {
            border: 1px dashed black;
            cursor: pointer;
        }


        .modal {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: -10px;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
        }

        .modal-content {
            max-height: 80vh; /* Limite la hauteur à 80% de la fenêtre */
            overflow-y: auto; /* Active le défilement vertical */
            padding: 20px; /* Ajoute un peu d'espace intérieur */
            background: white; /* Assure un bon contraste */
            border-radius: 10px; /* Coins arrondis pour un look propre */
        }
        .modal-content::-webkit-scrollbar {
            display: none;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 25px;
            cursor: pointer;
        }
    </style>
{% endblock %}