{% extends 'base.html.twig' %}

{% block title %}Details du candidat | Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <section>
        <div>
            <span>
                {% if applicant.user.profilPic is not null %}
                    <img src="{{ asset('user/profile/avatar/' ~ applicant.user.profilPic) }}" alt="Emploi_Espoir_applicant_profile_pic" width="150">
                {% else %}
                    <i class="bi bi-person-circle" style="font-size: 3em"></i>
                {% endif %}
            </span>
        </div>

        <div>
            <h1>{{ applicant.firstName }} {{ applicant.lastName}} </h1>
        </div>

        <div>
            {{ applicant.user.address }}
        </div>

        <div>
            {% for userObjectives in applicant.user.mainObjectives %}
                {{ userObjectives }}
            {% endfor %}
        </div>

        <div>
            <a href="{{ path('organization_candidate_hiring', {'id' : applicant.id}) }}">Contactez ce candidat</a>
        </div>
    </section>


    <section>
        <h1>Présentation</h1>

        <div>
             <p>
                 <strong>A propos de vous </strong><br>

                 <span>
                     {% if applicant.user.career is not null and applicant.user.career.aboutYou is not null %}
                         {{ applicant.user.career.aboutYou }}
                     {% else %}
                         <em>Informations non fournies</em>
                     {% endif %}
                 </span>
             </p>

            <p>
                <strong>CV</strong><br >

                {% if applicant.user.career is not null and applicant.user.career.cv is not null %}
                    <a href="{{ asset(applicant.user.career.cv) }}" target="_blank">{{ applicant.user.career.cv|split('/')|last }}</a>
                {% endif %}
            </p>
        </div>
    </section>



    <section>
        <h1>Compétences</h1>

        {% if applicant.user.career is not null %}
            <p>
                <span>Compétences principales : </span>
                {% for skill in applicant.user.career.skills %}
                    {{ skill }}
                {% endfor %}
            </p>

        {% else %}
            <p>
                <em>Information non fournie</em>
            </p>
        {% endif %}
    </section>



    <section>
        <h1>Liens externes</h1>

        {% if applicant.user.career is not null and applicant.user.career.linkedInUrl is not null %}
            <p>
                LinkedIn : <a href="{{ applicant.user.career.linkedInUrl }}" target="_blank">{{ applicant.user.career.linkedInUrl }}</a>
            </p>
        {% endif %}


        {% if applicant.user.career is not null and applicant.user.career.githubUrl is not null %}
            <p>
                Github : <a href="{{ applicant.user.career.githubUrl }}" target="_blank">{{ applicant.user.career.githubUrl }}</a>
            </p>
        {% endif %}


        {% if applicant.user.career is not null and applicant.user.career.websiteUrl is not null %}
            <p>
            Autre (site web, portfolio, ...) : <a href="{{ applicant.user.career.websiteUrl }}" target="_blank">{{ applicant.user.career.websiteUrl }}</a>
            </p>
        {% endif %}
    </section>



    <section>
        <h1>Expériences professionnelles</h1>


        {% if applicant.user.experiences is not null and applicant.user.experiences|length > 0 %}

            {% for experience in applicant.user.experiences %}
                <div>
                    <h3>{{ experience.jobTitle }}</h3>
                </div>

                <div>
                    {{ experience.enterpriseName }} | {{ experience.town }} | {{ experience.startDate|date('m/Y') }} - Aujourd'hui {# ici marquer la date genre 3ans quelques mois #}
                </div>
            {% endfor %}

        {% else %}
            <p>
                <em>Information non fournie</em>
            </p>
        {% endif %}
    </section>



    <section>
        <h1>Formations</h1>

        {% if applicant.user.formations is not null and applicant.user.formations|length > 0 %}

            {% for formation in applicant.user.formations %}

                <div>
                    <h3>{{ formation.diplomaName }}</h3>
                </div>

                <div>
                    {{ formation.universityName }} | {{ formation.diplomaTown }} | {{ formation.diplomaLevel }} | {{ formation.diplomaMonth.value }}/{{ formation.diplomaYear }}
                </div>

            {% endfor %}

        {% else %}
            <p>
                <em>Information non fournie</em>
            </p>
        {% endif %}
    </section>



    <section>
        <h1>Niveau de langues</h1>

        {% if applicant.user.languages is not null and applicant.user.languages|length > 0 %}

            {% for language in applicant.user.languages %}
                <div>
                    <p>
                        <span>{{ language.language }}</span> | <span>{{ language.languageLevel }}</span>
                    </p>
                </div>
            {% endfor %}

        {% else %}
            <p>
                <em>Information non fournie</em>
            </p>
        {% endif %}
    </section>
    
{% endblock %}