{% extends 'base.html.twig' %}

{% block title %}Mes offres - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
    <script src="{{ asset('js/user/employability/organizationManager/modalForDeleteOfferManager.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block body %}

    {# message if an offer has been update #}
    {% if app.flashes('offer_updating_success') is defined %}
        {% for offerUpdateSuccess in app.flashes('offer_updating_success') %}
            <span id="hide-flashMsg">{{ offerUpdateSuccess }}</span>
        {% endfor %}
    {% endif %}

    {# message if an offer has been removed #}
    {% if app.flashes('offer_remove_success') is defined %}
        {% for offerRemoveSuccess in app.flashes('offer_remove_success') %}
            <span id="hide-flashMsg">{{ offerRemoveSuccess }}</span>
        {% endfor %}
    {% endif %}

    {# message if the CSRF token for this removing form is invalid #}
    {% if app.flashes('CSRF_error') is defined %}
        {% for CSRFerrorMsg in app.flashes('CSRF_error') %}
            <span id="hide-flashMsg">{{ CSRFerrorMsg }}</span>
        {% endfor %}
    {% endif %}

    {# message if an offer does not exists #}
    {% if app.flashes('offer_error') is defined %}
        {% for offerErrorMsg in app.flashes('offer_error') %}
            <span id="hide-flashMsg">{{ offerErrorMsg }}</span>
        {% endfor %}
    {% endif %}



    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <h1>Mes offres</h1>

    {% if my_offers|length > 0 %}

        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px;">
            {% for offer in my_offers %}

                <div>
                    <strong>{{ offer.jobTitle }}</strong><br>
                    Type de contrat : {{ offer.typeOfContract }}<br>
                    Ville : {{ offer.town }}<br>
                    Date de publication : {{ offer.dateOfPublication ? offer.dateOfPublication|date('d/m/Y') : 'Non spécifiée' }}<br>
                    ex : {{ offer.expirationDate|date('d/m/Y') }}<br>
                    Status :
                    <span>
                        {% set currentDate = 'now'|date('Y-m-d') %}
                        {% set offerExpirationDate = offer.expirationDate|date('Y-m-d') %}

                        {% if currentDate >= offerExpirationDate %}
                            {# todo: mettre un indicateur de connexion. vert si connecté, rouge si déconnecté #}
                            Pas en cours <i class="bi bi-dot" style="font-size: 2.5em; color: red"></i>
                        {% else %}
                            En cours <i class="bi bi-dot" style="font-size: 2.5em; color: #01e801"></i>
                        {% endif %}
                    </span>

                    <p>
                        <a href="{{ path('organization_edit_offer', {'id' : offer.organization.id, 'offerId' : offer.id}) }}">Réactiver ou modifier l'offre</a> |
                        <a href="{{ path('offer_applications_list', {'id' : offer.organization.id, 'offerId' : offer.id}) }}">
                            Voir les candidatures
                            {% if offer.applicants|length > 0 %}
                                <sup>({{ offer.applicants|length }})</sup>
                            {% endif %}
                        </a>
                    </p>

                    <form id="form-{{ offer.id }}" method="post" action="{{ path('remove_offer', {'id' : offer.organization.id, 'offerId' : offer.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('remove_offer_' ~ offer.id) }}">
                        <button type="button" class="btn-supprimer" data-id="{{ offer.id }}">Supprimer</button>
                    </form>

                </div>

            {% endfor %}
        </div>

    {% else %}
        <p>Aucune offre d'emploi disponible pour cette organisation.</p>
    {% endif %}

{% endblock %}