{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre espace employeur - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if a job offer has been added succesfully #}
    {% if app.flashes('add_job_offer_success') is defined %}
        {% for addJobOfferMsg in app.flashes('add_job_offer_success') %}
            <span id="hide-flashMsg">{{ addJobOfferMsg }}</span>
        {% endfor %}
    {% endif %}

    <header>
        {% include 'navbar.html.twig' %}
    </header>

    {# this block will be side during style #}
    <div>
        <a href="{{ path('organization_dashboard_preview', {'id' : organization.id}) }}">Aperçu</a><br>
        <a href="{{ path('organization_candidates_list') }}">Liste des candidats</a><br>
        <a href="{{ path('organization_add_job_offer') }}">Émettre une offre</a><br>
        <a href="{{ path('organization_my_offers', {'id' : organization.id}) }}">
            Mes offres {{ organization.jobOffers|length }}
        </a>
    </div>

    <section>
        <h1>Bienvenue sur votre espace employeur</h1>
    </section>
{% endblock %}