{% extends 'base.html.twig' %}

{% block title %}{{ specific_profil.firstName }} {{ specific_profil.lastName}} - Emploi Espoir{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <h1>Personnalisez votre premier contact avec {{ specific_profil.firstName }}</h1>

    <p>
        Profitez de cette réponse pour donner des informations personnalisées au candidat dans l’objectif d’un futur entretien. Une fois cette étape complétée, vous aurez accès aux coordonnées du candidat (adresse email et numéro de téléphone).
    </p>

    {{ form_start(specific_profil_hiring_form) }}

        <div>
            <div>
                {{ form_label(specific_profil_hiring_form.organizationResponse) }}<br >
                {{ form_widget(specific_profil_hiring_form.organizationResponse) }}
                {{ form_errors(specific_profil_hiring_form.organizationResponse) }}
                {{ form_help(specific_profil_hiring_form.organizationResponse) }}
            </div>

            <div>
                {{ form_label(specific_profil_hiring_form.offer) }}<br >
                {{ form_widget(specific_profil_hiring_form.offer) }}
                {{ form_errors(specific_profil_hiring_form.offer) }}
                {{ form_help(specific_profil_hiring_form.offer) }}
            </div>
        </div>

        <div>
            <h1>Vos coordonnées</h1>

            <h2>ou les coordonnées de la personne chargée du recrutement</h2>

            <div>
                {{ form_label(specific_profil_hiring_form.orgOwnerFirstName) }}<br >
                {{ form_widget(specific_profil_hiring_form.orgOwnerFirstName) }}
                {{ form_errors(specific_profil_hiring_form.orgOwnerFirstName) }}
            </div>

            <div>
                {{ form_label(specific_profil_hiring_form.orgOwnerLastName) }}<br >
                {{ form_widget(specific_profil_hiring_form.orgOwnerLastName) }}
                {{ form_errors(specific_profil_hiring_form.orgOwnerLastName) }}
            </div>

            <div>
                {{ form_label(specific_profil_hiring_form.orgOwnerEmail) }}<br >
                {{ form_widget(specific_profil_hiring_form.orgOwnerEmail) }}
                {{ form_errors(specific_profil_hiring_form.orgOwnerEmail) }}
            </div>

            <div>
                {{ form_label(specific_profil_hiring_form.orgOwnerPhone) }}<br >
                {{ form_widget(specific_profil_hiring_form.orgOwnerPhone) }}
                {{ form_errors(specific_profil_hiring_form.orgOwnerPhone) }}
            </div>

            <button type="submit">Envoyer</button>
        </div>

    {{ form_end(specific_profil_hiring_form) }}
{% endblock %}