{% extends 'base.html.twig' %}

{% block title %}Candidats - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>

{% endblock %}

{% block body %}
    <div>
        {#  this block will be side in the view #}

    </div>


    <header>
        {% include('navbar.html.twig') %}
    </header>

    <section>

        <h1>
            Profil qui pourrait vous intéresser |
            <em>
                {% for organizationSector in organization.sectorOfActivity %} 
                    {{ organizationSector }} 
                {% endfor %}
            </em>
        </h1>



        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px">
            {# this list contain users who are the same main objectives that the current organization #}
            {% for user in specific_profil %}
                <a href="{{ path('organization_specific_profil_details', {'id' : user.id}) }}" style="border: 1px solid">
                    <p>
                        <span>
                            {% if user.profilPic is not null %}
                                <img src="{{ asset('user/profile/avatar/' ~ user.profilPic) }}" alt="Emploi_Espoir_candidat_image" width="50">
                            {% else %}
                                <i class="bi bi-person-circle" style="font-size: 3em"></i>
                            {% endif %}
                        </span>
                        {{ user.lastName }} {{ user.firstName }}
                    </p>

                    <p>
                        {% for objectives in user.mainObjectives %}
                            {{ objectives }}
                        {% endfor %}
                    </p>

                    <p>
                       {% for fieldOfInterest in user.fieldsOfInterest %}
                            <em>{{ fieldOfInterest }}</em>
                        {% endfor %}
                    </p>

                </a>

            {% else %}
                <span>Aucun profil spécifique n'est disponible pour le moment</span>
            {% endfor %}
        </div>

    </section>
{% endblock %}