{% extends 'base.html.twig' %}

{% block title %}Administration - Dashboard{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}

    {# message if an organization has been removed #}
    {% if app.flashes('org_account_removed_successfully') is defined %}
        {% for orgRemovedMsg in app.flashes('org_account_removed_successfully') %}
            <span id="hide-flashMsg">{{ orgRemovedMsg }}</span>
        {% endfor %}
    {% endif %}



    <details>
        <summary>{{ app.user.adminName }}</summary>

        <p>
            <a href="{{ path('admin_logout') }}" style="color: red;">Déconnexion</a>
        </p>
    </details>

    <section>
        <h1>Tableau de bord admin</h1>

        <p>
            <a href="{{ path('admin_organization_removal_request_list') }}">Demande de suppression de compte organisation <sup>({{ request_counter }})</sup> </a>
        </p>

        <p>
            <a href="{{ path('admin_org_list') }}">Vérification des organisations enregistrées</a>
        </p>

        <p>
            <a href="{{ path('admin_help_center_list') }}">Centre d'aides <sup>{{ help_center_counter }}</sup></a>
        </p>
    </section>
{% endblock %}