{% extends 'base.html.twig' %}

{% block title %}Profile | Edit - Emploi Espoir{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/profile/avatar/avatarManager.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}


{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>


    <section>
        {% include('headerForProfil.html.twig') %}
    </section>


    <section>

        <div class="icon-border">
            <p class="btn-modify">
                <a href="#" id="btn-profilePic">Modifier</a>
            </p>

            {% if app.user.profilPic is not null %}
                <img src="{{ asset('user/profile/avatar/' ~ app.user.profilPic) }}" alt="Emploi_Espoir_avatar" width="300">
            {% else %}
                <span class="bi bi-person-circle" style="font-size: 9em"></span>
            {% endif %}

        </div>
    </section>

    <div style="display: none" id="avatar-form-container">
        {{ form_start(avatarForm) }}
            <div>
                {{ form_widget(avatarForm.inputChoice) }}
                {{ form_errors(avatarForm.inputChoice) }}
            </div>

            <div style="display: none" id="fileInput-block">
                {{ form_widget(avatarForm.profilePic) }}
                {{ form_errors(avatarForm.profilePic) }}
            </div>

            <button>Valider</button>
        {{ form_end(avatarForm) }}
    </div>
{% endblock %}