<nav>
    <div>
        <a href="{{ path('home') }}">
            Emploi Espoir
        </a>
    </div>

    <div>
        <details>
            <summary>Pour les employeurs</summary>

            <p>
                <a href="{{ path('organization') }}">Découvrir notre solution</a>
            </p>
        </details>

        <details>
            <summary>
                {% if app.user %}
                    {{ app.user.lastName }}
                {% else %}
                    <i class="bi bi-person-fill"></i>
                {% endif %}
            </summary>

            <div>
                {% if app.user %}
                    <div>
                        <p>
                            <a href="{{ path('user_profile_view_as_recruiter') }}">Profil</a>
                        </p>

                        <p>
                            <a href="{{ path('account') }}">Compte et paramètres</a>
                        </p>

                        <p>
                            <a href="{{ path('organization_add') }}">
                        <span>
                            {% if organization is null %}
                                Employeur
                            {% else %}
                                {{ organization.organizationName }}
                            {% endif %}
                        </span>
                            </a>
                        </p>

                        <p>
                            <a href="{{ path('user_dashboard') }}">Tableau de bord</a>
                        </p>

                        <p>
                            <a href="{{ path('user_logout') }}" style="color: red">Déconnexion</a>
                        </p>

                    </div>

                {% else %}
                    <div>
                        <p>
                            <a href="{{ path('login_email') }}">Créer mon compte</a>
                        </p>

                        <p>
                            <a href="{{ path('login_email') }}">Me connecter</a>
                        </p>

                        <p>

                            <a href="{{ path('organization_add')}}">Explorer l'espace employeur</a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </details>
    </div>
</nav>