{% extends 'base.html.twig' %}

{% block title %}Adresse et contact - Emploi Espoir{% endblock %}

{% block body %}
    {# message if a phone number has been saved #}
    {% if app.flashes('phone_number_saved') is defined %}
        {% for phoneSavedMsg in app.flashes('phone_number_saved') %}
            {{ phoneSavedMsg }}
        {% endfor %}
    {% endif %}

    <h1>Adresse et contact</h1>

    <div>
        <p>
            <strong>E-mail : </strong> {{ user.email }}
        </p>

        <a href="{{ path('account_address_contact_phone') }}">
            <strong>Numéro de téléphone : </strong>
            <span>
                {% if user.phone is not null %}
                    {{ user.phone }}
                {% else %}
                    <em>Information non fournie</em>
                {% endif %}
            </span>
        </a>

        <a href="{{ path('account_address_contact_address') }}">
            <strong>Adresse : </strong>
            <span>
                {% if user.address is not null %}
                    {{ user.address }}
                {% else %}
                    <em>Information non fournie</em>
                {% endif %}
            </span>
        </a>
    </div>
{% endblock %}

























{% block stylesheets %}
    <style>
        a {
            display: block;
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}