{% extends 'base.html.twig' %}

{% block title %}Adresse et contact - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if a phone number has been saved #}
    {% if app.flashes('phone_number_saved') is defined %}
        {% for phoneSavedMsg in app.flashes('phone_number_saved') %}
            <span id="hide-flashMsg">{{ phoneSavedMsg }}</span>
        {% endfor %}
    {% endif %}


    {# message if an address has been saved #}
    {% if app.flashes('address_saved') is defined %}
        {% for addressSavedMsg in app.flashes('address_saved') %}
            <span id="hide-flashMsg">{{ addressSavedMsg }}</span>
        {% endfor %}
    {% endif %}


    <header>
        {% include('navbar.html.twig') %}
    </header>

    <a href="{{ path('account') }}">
        <i class="bi bi-arrow-left"></i>
    </a>


    <h1>Adresse et contact</h1>

    <div>
        <p>
            <strong>E-mail : </strong> {{ user.email }}
        </p>

        <a href="{{ path('account_address_contact_phone') }}">
            <strong>Numéro de téléphone : </strong>
            <span>
                {% if user.phone is not null %}
                    {{ user.phone }}
                {% else %}
                    <em>Information non fournie</em>
                {% endif %}
            </span>
        </a>

        <a href="{{ path('account_address_contact_address') }}">
            <strong>Adresse : </strong>
            <span>
                {% if user.address is not null %}
                    {{ user.address }}
                {% else %}
                    <em>Information non fournie</em>
                {% endif %}
            </span>
        </a>
    </div>
{% endblock %}

























{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        a {
            display: block;
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}