{% extends 'base.html.twig' %}

{% block title %}Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <a href="{{ path('account_address_contact') }}">
        <i class="bi bi-arrow-left"></i>
    </a>

    <section>
        <h1>Adresse et contact</h1>

        {{ form_start(phone_manager_form) }}
            <div>
                {{ form_label(phone_manager_form.phone) }}<br >
                {{ form_widget(phone_manager_form.phone) }}
                {{ form_errors(phone_manager_form.phone) }}
            </div>

            <button type="submit">Enregistrer</button>
        {{ form_end(phone_manager_form) }}
    </section>
{% endblock %}