{% extends 'base.html.twig' %}

{# todo: changer le titre si possible pour le référencement #}
{% block title %}Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {# style #}
    <link rel="stylesheet" href="{{ asset('style/css/homepage_style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/public/showJobInModalManager.js') }}" defer></script>
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
    <script src="{{ asset('js/user/employability/organizationManager/prohibitUserToApplyTheSameOfferManager.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {# la ligne ci-dessous permet de soumettre un formulaire sans appuyer sur le bouton submit.  #}
    {# Ligne à décommenter #}
    <script src="{{ asset('js/public/typeOfContractInputsManager.js') }}" defer></script>
{% endblock %}


{% block body %}
    {# flash message if a candidacy has been send #}
    {% if app.flashes('candidacy_send_successfully') is defined %}
        {% for candidacySendSuccessfullyMsg in app.flashes('candidacy_send_successfully') %}
            <span id="hide-flashMsg">{{ candidacySendSuccessfullyMsg }}</span>
        {% endfor %}
    {% endif %}


    {# flash msg if a user try to apply the same offer #}
    {% if app.flashes('already_apply') is defined %}
        {% for alreadyApplyMsg in app.flashes('already_apply') %}
            <span class="already-apply" style="display: none">{{ alreadyApplyMsg }}</span>
        {% endfor %}
    {% endif %}


    {# message if an user has changed her email #}
    {% if app.flashes('changing_email_successfully') is defined %}
        {% for changingEmailMsg in app.flashes('changing_email_successfully') %}
            <span id="hide-flashMsg">{{ changingEmailMsg }}</span>
        {% endfor %}
    {% endif %}


    {# message if an user has deleted her account #}
    {% if app.flashes('account_deletion_successfully') is defined %}
        {% for accountDeletionMsg in app.flashes('account_deletion_successfully') %}
            <span id="hide-flashMsg">{{ accountDeletionMsg }}</span>
        {% endfor %}
    {% endif %}



    <header>
        {% include 'navbar.html.twig' %}
    </header>


    <section>
        <h1>Offres d'emplois</h1>


        <div>
            {{ form_start(filter_form) }}
                <h4>Type de contrat</h4>
                {{ form_widget(filter_form.typeOfContract) }}

                <h4>Domaine d'activité</h4>
                {{ form_widget(filter_form.organizationField) }}

                <button type="submit" style="display: none;">Filtrer</button>
            {{ form_end(filter_form) }}
        </div>



        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 20px">
            {% for job in job_offers %}
                <a href="#" style="display: block; text-decoration: none; border: 1px solid black" class="job-link"
                   data-title="{{ job.jobTitle }}"
                   data-organization="{{ job.organization.organizationName }}"
                   data-expiration="{{ job.expirationDate|date('d - m - Y') }}"
                   data-id="{{ job.id }}"
                >
                    {{ job.jobTitle }}<br>
                    {{ job.organization.organizationName }}<br>
                    Expire le : {{ job.expirationDate|date('d - m - Y') }}
                </a>
            {% else %}
                <div>
                    <p>
                        Aucune offre d'emploi n'est disponible pour le moment.<br>
                        Les offres d'emplois les plus récentes seront visible ici.
                    </p>
                </div>
            {% endfor %}
        </div>


        <div class="pagination">
            {{ knp_pagination_render(job_offers) }}
        </div>

    </section>



    <!-- Modal structure -->
    <div id="job-modal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; border: 1px solid black; z-index: 1000;">
        <h2 id="modal-job-title"></h2>
        <p><strong>Organisation :</strong> <span id="modal-organization-name"></span></p>
        <p><strong>Date d'expiration :</strong> <span id="modal-expiration-date"></span></p>
        <button id="close-modal" style="margin-top: 10px;">Fermer</button>
        <a href="#" id="apply-link"></a>
    </div>

    <!-- Modal backdrop -->
    <div id="modal-backdrop" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 999;"></div>

{% endblock %}













