{% extends 'base.html.twig' %}

{% block title %}Présentation - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/account/career/presentation/wordsCounterForAboutMe.js') }}" defer></script>
{% endblock %}

{% block body %}

    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <a href="{{ path('account_presentation') }}">
        <i class="bi bi-arrow-left"></i>
    </a>

    <section>
        <h1>Présentation</h1>

        {{ form_start(aboutMeForm) }}
            <div>
                {{ form_label(aboutMeForm.aboutMe) }}<br >
                <span>Présentez-vous en quelques mots, ainsi que vos motivations et votre projet professionnel.</span><br>
                {{ form_widget(aboutMeForm.aboutMe) }}
                {{ form_errors(aboutMeForm.aboutMe) }}
            </div>

            <p>
                <span>{{ form_help(aboutMeForm.aboutMe) }}</span>

                <span class="words-counter">

                </span>
            </p>

            <button type="submit">Enregistrer</button>
        {{ form_end(aboutMeForm) }}
    </section>
{% endblock %}