{% extends 'base.html.twig' %}

{% block title %}Présentation - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if an about to you has been done #}
    {% if app.flashes('about_me_added') is defined %}
        {% for aboutMeMsg in app.flashes('about_me_added') %}
            <span id="hide-flashMsg">{{ aboutMeMsg }}</span>
        {% endfor %}
    {% endif %}


    {# message if a cv has been saved successfully #}
    {% if app.flashes('cv_saved') is defined %}
        {% for cvSavedMsg in app.flashes('cv_saved') %}
            <span id="hide-flashMsg">{{ cvSavedMsg }}</span>
        {% endfor %}
    {% endif %}


    <header>
        {% include 'navbar.html.twig' %}
    </header>


    <section>
        <h1>Présentation</h1>

        <div>
            <a href="{{ path('account_presentation_about_me') }}">
                <strong>A propose de vous : </strong>

                <span>
                    {% if career is not null and career.aboutYou is not null %}
                        {{ career.aboutYou }}
                    {% else %}
                        <em>Informations non fournie</em>
                    {% endif %}
                </span>
            </a>


            <a href="{{ path('account_presentation_cv') }}">
                <strong>CV: </strong>

                <span>
                    {% if career is not null and career.cv is not null %}
                        {{ career.cv }}
                    {% else %}
                        <em>Informations non fournie</em>
                    {% endif %}
                </span>
            </a>
        </div>
    </section>
{% endblock %}































{% block stylesheets %}
    <style>
        a {
            display:  block;
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}