{% extends 'base.html.twig' %}

{% block title %}Job - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if changing has been make about job preferences #}
    {% if app.flashes('job_preference_saved') is defined %}
        {% for jobPreferenceMsg in app.flashes('job_preference_saved') %}
            <span id="hide-flashMsg">{{ jobPreferenceMsg }}</span>
        {% endfor %}
    {% endif %}


    {# message if changing has been make about job area #}
    {% if app.flashes('jobArea_saved') is defined %}
        {% for jobAreaMsg in app.flashes('jobArea_saved') %}
            <span id="hide-flashMsg">{{ jobAreaMsg }}</span>
        {% endfor %}
    {% endif %}

    <p>
        <a href="{{ path('user_profile_view_as_recruiter') }}">Profil</a>
    </p>

    <section>
        <h1>Emploi</h1>

        <div>
            <a href="{{ path('account_job_preference_search_area') }}">
                <strong>Zone de recherche d'emploi : </strong>
                <span>
                    {% if job_preferences is not null and job_preferences.employmentArea is not null %}
                        {{ job_preferences.employmentArea }}
                    {% else  %}
                        <em>Information non fournie</em>
                    {% endif %}
                </span>
            </a>

            <a href="{{ path('account_job_preferences_preference') }}">
                <strong>Préférence relative au télétravail : </strong>
                <span>
                    {% if job_preferences is not null and job_preferences.employmentPreference is not null %}
                        {% for jobPreferences in job_preferences.employmentPreference %}
                            {{ jobPreferences }},
                        {% endfor %}
                    {% else  %}
                        <em>Information non fournie</em>
                    {% endif %}
                </span>
            </a>
        </div>
    </section>
{% endblock %}


































{% block stylesheets %}
    <style>
        a {
            display:  block;
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}